/*estilos.css*/

/* Las variables de Css se crean en la "raiz" del documento */
:root{
	--naranja: #f69c21;
	--gris: #27262b;
	--blanco: #FFF;
	--negro: #000;
	--narbtn: #fe6902;
	--amarillo: #ff9800;
	--grisclaro: #a6a6a6;
	--gris: #dcdcdc;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: var(--gris);
	background-image: url("images/pattern.jpg");
	font-family: Arial, sans-serif;
}
h2{
	font-size: 20px;
	margin-bottom: 16px;
}
.cabecera{
	display: flex;
	/* Los separa en horizontal */
	justify-content: space-between;
	/* Los centra en vertical */
	align-items: center;
	max-width: 1000px;
	margin: 16px auto 24px auto;
}
.cabecera h1{
	color: var(--naranja);
}
.contenedor{
	border-radius: 6px 6px 0 0;
	background-color: #ffffff;
	margin: auto;
	max-width: 1000px;
}

/*
------------------
SECCION BOTONERA
------------------
*/

.botonera{
	border-radius: 6px 6px 0 0;
	background-color: var(--narbtn);
	font-weight: bold;
}
.botoneralista{
	display: flex;
	list-style-type: none;
	margin-left: 30px;
	padding: 20px 0;
}
.botoneralista li{
	flex-grow: 1;
}
.botoneralista a{
	display: block;
	border-right: 1px solid var(--amarillo);
	text-decoration: none;
	color: var(--blanco);
	text-align: center;
	padding: 8px 0;
}
.botoneralista a:hover{
	background-color: #f96112;
	font-size: 17px;
}
.botonera-lista_formulario{
	display: flex;
	margin-left: 150px;
	align-items: center;
}
.botonera-lista_formulario input{
	padding: 2px 4px;
	
}
/* .sinborde.sinborde{ */
	/* border-right: none; */
/* } */

a.sinborde{
	border-right: none;
}
/*Slider*/
.slider{
	text-align: center;
	margin-top: 30px;
}
/*
------------------
SECCION CATEGORIAS
------------------
*/
.categorias{
	margin-top: 50px;
	width: 20%;
	float: left;

}
.categorias h2{
	padding-left: 24px;
}
.categorias-lista{
	list-style-type: none;
}
.categorias-lista li{
	padding: 6px 0;
	padding-left: 35px;
	border-bottom: 1px dotted var(--grisclaro);
	
}
.categorias-lista a{
	display: block;
	text-decoration: none;
	width: 100%;
	color: var(--negro);
}
.categorias-lista a:hover{
	font-weight: bold;
}
/*
--------------
SECCION PRODUCTOS
-------------
*/
.productos{
	margin-top: 50px;
	width: 80%;
	float: right;
	background-color:;
	padding-right: 56px;
}
.lampara{
	float: left;
	width: 50%;
	padding-left: 26px;
	padding-bottom: 27px;

}
.lampara img{
	float: left;
	padding-right: 20px;
}
.lampara p{
	
}
/*
--------------
SECCION NEWSLETTER
-------------
*/
.newsletter{
	clear: both;
	border-radius: 5px;
	max-width: 940px;
	margin: auto;
	overflow: auto;
	border: 1px solid var(--grisclaro);
	padding: 10px 24px;
	background-image: linear-gradient(
		var(--blanco),
		var(--gris));
}

.newsletter img{
	float: left;
}
.newsletter-info{
	padding-left: 40px;
	float: left;
}
.newsletter-info p{
	padding-left: 40px;
}
.newsletter-form{
	margin-top: 13px;
	float: right;
}
.newsletter-form [type="submit"]{
	background: none;
	border: none;
	cursor: pointer;
	font-weight: bold;
	padding: 
}



/*
--------------
SECCION PIE
-------------
*/
.pie{
	font-size: 14px;
	background-color:var(--gris);
	padding: 6px 50px;
	border-top: 1px solid var(--negro);
	margin-top: 30px;
}
.pie-copy, .pie-china, .pie-argentina{
	float: left;
}
.pie-china{
	border-right: 1px solid var(--negro);
	padding-right: 20px;
	padding-left: 20px;
}
.pie-copy h4{
	font-weight: normal;
}
.pie-argentina{
	padding-left: 10px;
}
.pie-creditos{
	clear: both;
	text-align: right;
}
.pie-creditos a{
	font-family: 'Patrick Hand SC', cursive;
}
